/* https://color.adobe.com/sv/search?q=dark */
// $orange: default;
$yellow: #9D9A6F;
$green: #6C8A80;
// $turquoise: default;
// $cyan: default;
$blue: #16576C;
$purple: #3A3844;
$red: #84383B;

$dark: #333;
$primary: $red;

$card-header-background-color: $red;
$card-header-color: $yellow;